@using Pagination_Asp.NetCoreMVC.Models;
@model ProductModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Index" asp-controller="Home" method="post">
            <table class="table table-responsive">
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                </tr>
                @foreach(Product  product in Model.Products)
                {
                    <tr>
                        <td>@product.PName</td>
                        <td>@product.Price</td>
                        <td>@product.Category</td>
                        <td>@product.Manufacturer</td>
                    </tr>
                }
            </table>
            <br />
            <table class="table table-responsive">
                <tr>
                    @for(int i = 1; i < Model.PageCount; i++)
                    {
                        <td>
                            @if(i!=Model.CurrentIndex)
                            {
                                <a href="Javascript: PagerClick(@i);">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td>
                    }
                </tr>
            </table>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex"/>
        </form>
        <script>
            function PagerClick(index) {
                document.getElementById("hfCurrentPageIndex").value.index;
                document.forms[0].submit();
            }
        </script>
    </div>
</div>
 